<a href="https://colab.research.google.com/github/ruby75122/python/blob/master/20200312_02_Up_and_Running_with_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
3.1設定pandas

In [0]:
# import numpy and pandas
import numpy as np
import pandas as pd

# used for dates
import datetime
from datetime import datetime, date

# Set some pandas options controlling output format
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 80)

# bring in matplotlib for graphics
import matplotlib.pyplot as plt
%matplotlib inline #魔術方法

In [0]:
https://www.yiibai.com/pandas/python_pandas_options_and_customization.html
Pandas提供API来自定义其行为的某些方面，大多使用来显示。

API由五个相关函数组成。它们分别是 -
get_option()
set_option()
reset_option()
describe_option()
option_context()

/*get_option(param)-需要一个参数，并返回下面输出中给出的值*/

/*set_option(param,value)-需要两个参数，可以更改要显示的默认行数*/

/*reset_option(param)-接受一个参数-使用reset_option()，可以将该值更改回显示的默认行数。*/

/*describe_option(param)-describe_option打印参数的描述，可以将该值更改回显示的默认行数。*/

/*option_context上下文管理器用于临时设置语句中的选项。当退出使用块时，选项值将自动恢复 -使用option_context()，可以临时设置该值。*/

In [0]:
import pandas as pd

print ("before set display.max_rows = ", pd.get_option("display.max_rows")) 

pd.set_option("display.max_rows",80)
print ("after set display.max_rows = ", pd.get_option("display.max_rows"))

before set display.max_rows =  60
after set display.max_rows =  80

In [0]:
import pandas as pd

print ("before set display.max_columns = ", pd.get_option("display.max_columns")) 

pd.set_option("display.max_columns",32)
print ("after set display.max_columns = ", pd.get_option("display.max_columns"))

before set display.max_columns =  0
after set display.max_columns =  32

In [0]:
import pandas as pd
print ("display.max_rows = ", pd.get_option("display.max_rows"))

display.max_rows =  10

In [0]:
import pandas as pd
print ("display.max_columns = ", pd.get_option("display.max_columns"))

display.max_columns =  8

In [0]:
import pandas as pd

pd.describe_option("display.max_rows")

display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 80]

In [0]:
import pandas as pd
with pd.option_context("display.max_rows",10):
   print(pd.get_option("display.max_rows"))
   print(pd.get_option("display.max_rows"))

10
10

In [0]:
什麼是 Numpy？
Numpy 是 Python 的一個重要模組（Python 是一個高階語言也是一種膠水語言，
可以透過整合其他低階語言同時擁有效能和高效率的開發），主要用於資料處理
上。Numpy 底層以 C 和 Fortran 語言實作，所以能快速操作多重維度的陣列。當
Python 處理龐大資料時，其原生 list 效能表現並不理想（但可以動態存異質資
料），而 Numpy 具備平行處理的能力，可以將操作動作一次套用在大型陣列上。
此外 Python 其餘重量級的資料科學相關套件（例如：Pandas、SciPy、Scikit-learn
等）都幾乎是奠基在 Numpy 的基礎上。因此學會 Numpy 對於往後學習其他資料
科學相關套件打好堅實的基礎。

In [0]:
Pandas 介紹
Pandas 是 python 的一個數據分析 lib，2009 年底開源出來，提供高效能、簡易使用的資料格式(Data Frame)讓使用者可以快速操作及分析資料，主要特色描述如下：

在異質數據的讀取、轉換和處理上，都讓分析人員更容易處理，例如：從列欄試算表中找到想要的值。
Pandas 提供兩種主要的資料結構，Series 與 DataFrame。Series 顧名思義就是用來處理時間序列相關的資料(如感測器資料等)，主要為建立索引的一維陣列。
DataFrame 則是用來處理結構化(Table like)的資料，有列索引與欄標籤的二維資料集，例如關聯式資料庫、CSV 等等。
透過載入至 Pandas 的資料結構物件後，可以透過結構化物件所提供的方法，來快速地進行資料的前處理，如資料補值，空值去除或取代等。
更多的輸入來源及輸出整合性，例如：可以從資料庫讀取資料進入 Dataframe，也可將處理完的資料存回資料庫。

In [0]:
# create a four item Series
s = pd.Series([1, 2, 3, 4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [0]:
# get value at label 1
s[1]

2

In [0]:
# return a Series with the row with labels 1 and 3
s[[1, 3]]

1    2
3    4
dtype: int64

In [0]:
!wget https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/goog.csv

--2020-03-12 07:56:08--  https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/goog.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3602 (3.5K) [text/plain]
Saving to: ‘goog.csv’

goog.csv            100%[===================>]   3.52K  --.-KB/s    in 0s

2020-03-12 07:56:08 (98.5 MB/s) - ‘goog.csv’ saved [3602/3602]

In [0]:
!ls

goog.csv  sample_data

In [0]:
# read the contents of the file into a DataFrame
df = pd.read_csv('goog.csv')
df

          Date        Open        High         Low       Close   Volume
0   12/19/2016  790.219971  797.659973  786.270020  794.200012  1225900
1   12/20/2016  796.760010  798.650024  793.270020  796.419983   925100
2   12/21/2016  795.840027  796.676025  787.099976  794.559998  1208700
3   12/22/2016  792.359985  793.320007  788.580017  791.260010   969100
4   12/23/2016  790.900024  792.739990  787.280029  789.909973   623400
..         ...         ...         ...         ...         ...      ...
56   3/13/2017  844.000000  848.684998  843.250000  845.539978  1149500
57   3/14/2017  843.640015  847.239990  840.799988  845.619995   779900
58   3/15/2017  847.590027  848.630005  840.770020  847.200012  1379600
59   3/16/2017  849.030029  850.849976  846.130005  848.780029   970400
60   3/17/2017  851.609985  853.400024  847.109985  852.119995  1712300

[61 rows x 6 columns]